<!-- Item Grid -->
<div class="item-grid">
    <div
      class="box"
      *ngFor="let item of items | paginate: { itemsPerPage: limit, currentPage: page, totalItems: totalItems }"
    >
      <img [src]="item.sprites.default" alt="Item">
      <h3>{{ item.name }}</h3>
      <p>
        <b>Category:</b> {{ item.category.name }}
      </p>
      <p>
        <b>Cost:</b> {{ item.cost }}
      </p>
      <p>
        <b>Effect:</b> {{ item.effect_entries[0].effect }}
      </p>
      <p>
        <b>Attributes:</b>
        <span *ngFor="let attribute of item.attributes">
          {{ attribute.name }}
        </span>
      </p>
    </div>
  </div>
  
  <!-- Pagination Controls -->
  <pagination-controls (pageChange)="page = $event; items = []; getItems()"></pagination-controls>